table{
   margin: auto;
}
table,td,th{
   border: 1px solid black;
   border-collapse: collapse;
}
td,th{
   padding: 10px;
}
h2{
   text-align: center;   
}

img{
   width: 45px;
}
.sortBox{
   text-align: center;
   margin:1rem;
}
.sortBox button{
   margin-top:10px;
   padding: 5px 10px;
   border-radius: 6px;
   border: none;
   border: 1px solid black;
   cursor: pointer;
}
.sort-button{
   padding: 5px 10px;
   border-radius: 6px;
   border: none;
   border: 1px solid black;
   cursor: pointer;
}